

    <div class="card-wrapper">

        <form method="POST" action= {{url_for("password_update")}}>
        <fieldset>
            <h1 class="h1-admin">Changer mon mot de passe</h1>
            <label for="ancienMdp">Ancien mot de passe</label>
            <input type="text" name="ancienMdp" type="password"
                   placeholder="***********" class="form-control"
                   value="{{ request.form['ancienMdp'] }}">

        </fieldset>

        <fielset >
            <label for="password">Nouveau mot de passe</label>
            <input name="password" placeholder="************" type="password"
                      class="form-control"{{ request.form['password'] }}>
             <label for="confirmer">Confirmation de mot de passe</label>
            <input name="confirmer" placeholder="************" type="password"
                      class="form-control"{{ request.form['confirmer'] }}>
            <div>
            <button type="submit" class="btn-log">Modifier</button>
        </div>
        </fielset>

        </form>
    </div>
