<h1 class="h1-admin"> Politique de mot de passe</h1>
<form class="card-wrapper row " method="POST" action= {{url_for("password_policy")}} >
  <div class=" form-group ">

      <fieldset class="col-sm ">


        <div class="col-sm ">
            <label class="text-left">Complexité du mot de passe</label>
            <div class="col text-left custom-checkbox ">

        </div>
            <div class="col text-left custom-control custom-checkbox ">
            <input name="majuscule" id="majuscule" type="checkbox" class="custom-control-input" checked="{{ 'checked' if request.form.get('majuscule') else '' }}">
            <label for="majuscule" class="custom-control-label">Majuscule</label>
        </div>
        <div class="col text-left custom-control custom-checkbox ">
            <input name="numerique" id="numerique" type="checkbox" class="custom-control-input" checked="{{ 'checked' if request.form.get('numerique') else '' }}">
            <label for="numerique" class="custom-control-label">Numérique</label>
        </div>
        <div class="col text-left custom-control custom-checkbox ">
            <input name="minuscule" id="minuscule" type="checkbox" class="custom-control-input" checked="{{ 'checked' if request.form.get('minuscule') else '' }}">
            <label for="minuscule" class="custom-control-label">Minuscule</label>
        </div>
      <div class="col text-left custom-control custom-checkbox ">
        <input name="caractere" id="caractere" type="checkbox" class="custom-control-input" checked="{{ 'checked' if request.form.get('caractere') else '' }}">
        <label for="caractere" class="custom-control-label">Caractères spéciaux</label>
      </div>
            <div class="col text-left custom-control custom-checkbox ">
                <input name="interdiction" id="interdiction" type="checkbox" class="custom-control-input" checked="{{ 'checked' if request.form.get('interdiction') else '' }}">
                <label for="interdiction" class="custom-control-label">Interdire ancien mot de passe</label>
            <div>
                <br>
                <label for="longMinimum-length">Longueur du Mot de passe</label>
                <br>
                <div class="row">
                    <input id="longMinimum"  name="longMinimum" type="number" class="form-control" placeholder="Min" pattern="[1-9]+" >
                    <input id="longMaximum"  name="longMaximum" type="number" class="form-control" placeholder="Max" pattern="[1-30]+" >
                    <div class="invalid-feedback">Veuillez entrer un nombre positif.
                </div>

      </div>

    </div>
      </div>



        </div>



    </fieldset>
  </div>




    <fieldset>

        <div class="form-group col-sm">
            <label>Tentative maximales</label>
            <input id="tentative" name="tentative" type="number" class="form-control" placeholder="Tentative de connexion maximale" max="20" min="0" value="4">
            <div class="invalid-feedback">Veuillez entrer un nombre positif.</div>
            <label>Delai entre connexion</label>

            <input id="delai" name="delai" type="number" class="form-control" placeholder="Délai entre chaque tentative" pattern="[1-30]+" value="5">
            <div class="invalid-feedback">Veuillez entrer un nombre positif.</div>

            <div>
            <label for="confirmation">Saissisez votre mot de passe pour effectuer les changements </label>
            <input name="confirmation" type="password" class="form-control" {{ request.form['confirmation'] }} autocomplete="off" required>
            <div class="form-group row">
            <div class=" col-8 offset-2"><button name="submit" type="submit" class="btn btn-success">Mettre à jour</button>
            </div>
                </div>
        </div>
        </div>
    </fieldset>
        <div>



    </div>

</form>